* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header section */
header {
    background-image:url( "../img/jumbo.png" );
    background-size: cover;
    padding: 20px;
}

.menu {
    width: 80%;
    margin: 0 auto;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
}

/* logo */
.menu .logo {
    /* width: 100px; */
    /* height: 100px; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* bottone login */
.menu .button {
    /* width: 100px; */
    /* height: 100px; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 10px;
}

/* lista centrale sul nav */
.menu .list {
    /* width: 700px; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.list-items {
    display: flex;
    list-style: none;

}

.items {
    margin-right: 60px;
}

/* Sezione centrale sotto il nav */
.bottom-nav {
    width: 60%;
    margin: auto;

}

.download {
    width: 80%;
    margin: auto;
    margin-bottom: 70px;
    /* height: 500px; */
    /* background-color: red; */
}

.contenuto {
    text-align: center;
}

.contenuto .text {
    padding: 15px 20px;
    color: white;
    margin-top: 30px;
}


/* stile bottoni */
.contenuto .button-1 {
    padding: 10px 20px;
    margin-bottom: 50px;
    border-radius: 30px;
    border: 0;
    margin-right: 10px;
}

.contenuto .button-2 {
    padding: 10px 20px;
    margin-bottom: 50px;
    border-radius: 30px;
    border: 0;
    margin-right: 10px;
    background-color: black;
    color: white;
}


/* Parte principale sito web I Parte */
.principal {
    background-color: #F5F5DB;
}

.principal .content {
    width: 80%;
    margin: auto;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content .img {
    flex-basis: 58%;
    background-color: beige;
}

.content .description {
    flex-basis: 40%;
    /* background-color: rgb(155, 155, 138); */
    align-items: left;
    padding: 70px;
}

.description h2 {
    margin-bottom: 30px;
    font-size: 40px;      
}

.description p {
    line-height: 30px;
    font-size: 20px;
}

/* Parte principale sito web II Parte */
.principal-1 {
    /* background-color: rgb(170, 141, 112); */
        background-color: #F5F5DB;
}

.principal-1 .content-1 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.content-1 .img-1 {
    flex-basis: 58%;
    background-color: beige;
}

.content-1 .description-1 {
    /* background-color: rgb(155, 155, 138); */
    flex-basis: 40%;
    padding: 70px;
    text-align: left;
    line-height: 30px;
}

.description-1 h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.description-1 p {
    line-height: 30px;
    font-size: 20px;
}

/* Parte orizzontale sopra al footer */
.bottom-principal {
    /* background-color: rgb(166, 123, 206); */
}

.content .tecnology {
    /* background-color: rgb(145, 112, 112); */
}

.content .pic {
    /* background-color: rgb(195, 126, 126); */
}

.tecnology h2 {
    margin-top: 100px;
    font-size: 40px;
}

.tecnology p {
    margin-top: 50px;
    font-size: 20px;
}

.bottom-principal .content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bottom-principal .cta {
    width: 80%;
    margin: 0 auto;
    /* background-color: rgb(145, 112, 112); */

}

.cta  {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.cta h2 {
    font-size: 40px;
}

.cta button {
    margin: 15px 15px;
    border: 0;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: #8EA0E1;
    color: white;
}

/* footer */
footer .principal {
    background-color: pink;
    margin-top: 70px;
}

.col {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.col .column {
    flex-basis: 30%;
    /* background-color: darkmagenta; */
}

.col .column-1 {
    flex-basis: 68%;
    /* background-color: rgb(181, 1, 181); */
    display: flex;
}

 ul  {
    display: flex;
    justify-content: space-between;
    margin: 0px 60px;
    list-style: none;
    width: calc( 100% / 5 );
}

.footer,
.lista {
    border-top: 5px solid white;
    background-color: pink;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.lista .logo-footer {
    /* width: 100px; */
    /* height: 100px; */
    background-color: rgb(202, 121, 135);
}

.lista .subscribe {
    /* width: 100px; */
    /* height: 100px; */
    background-color: rgb(202, 121, 135);
}