@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* header section */
header {
    background-image:url( "../img/jumbo.png" );
    background-size: cover;
    padding: 20px;
}

.menu {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* logo */
.menu .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* bottone login */
.menu .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 10px;
    border: 0;
}

/* lista centrale sul nav */
.menu .list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.list-items {
    display: flex;
    list-style: none;

}

.items {
    margin-right: 60px;
}

/* Sezione centrale sotto il nav */
.bottom-nav {
    width: 60%;
    margin: auto;

}

.download {
    width: 80%;
    margin: auto;
    margin-bottom: 70px;
}

.contenuto {
    text-align: center;
}

.contenuto h1 {
    padding: 15px 20px;
    color: white;
    font-size: 60px;
    font-weight: 900;
    margin-top: 20px;
}

.contenuto .text {
    padding: 15px 20px;
    color: white;
    margin-top: 30px;
    font-size: 25px;
}


/* stile bottoni */
.contenuto .button-1 {
    padding: 24px 38px;
    margin-top: 50px;
    border-radius: 30px;
    border: 0;
    margin-right: 10px;
    font-size: 20px;
}

.contenuto .button-2 {
    padding: 24px 38px;
    margin-bottom: 50px;
    border-radius: 30px;
    border: 0;
    margin-right: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
}


/* Parte principale sito web I Parte */
.principal {
    background-color: #F5F5DB;
    padding: 100px 20px;
}

.principal .content {
    width: 80%;
    margin: auto;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content .img {
    flex-basis: 58%;
}

.content .description {
    flex-basis: 40%;
    align-items: left;
    padding: 70px;
}

.description h2 {
    margin-bottom: 30px;
    font-size: 40px;      
}

.description p {
    line-height: 30px;
    font-size: 20px;
}

/* Parte principale sito web II Parte */
.principal-1 {
        background-color: #FFFFFF;
        margin: 100px 30px;
}

.principal-1 .content-1 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.content-1 .img-1 {
    flex-basis: 58%;
}

.content-1 .description-1 {
    flex-basis: 40%;
    padding: 70px;
    text-align: left;
}

.description-1 h2 {
    font-size: 40px;
    margin-bottom: 30px;
    line-height: 50px;
    text-align: left;
}

.description-1 p {
    font-size: 20px;
    text-align: left;
}

/* Parte orizzontale sopra al footer */


.tecnology h2 {
    margin-top: 100px;
    font-size: 40px;
}

.tecnology p {
    margin-top: 50px;
    font-size: 20px;
}

.bottom-principal .content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bottom-principal .cta {
    width: 80%;
    margin: 0 auto;

}

.cta  {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.cta h2 {
    font-size: 40px;
}

.cta button {
    margin: 15px 15px;
    border: 0;
    border-radius: 50px;
    padding: 24px 55px;
    background-color: #8EA0E1;
    color: white;
    font-size: 20px;
}

/* footer */


footer .principal {
    background-color: #23272A;
    margin-top: 70px;
    color: white;
    padding: 50px 20px;
}

.col {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.col .column {
    flex-basis: 30%;
    margin-bottom: 20px;
}

.column h2 {
    margin-bottom: 20px;
    color: #7288DA;
}

.column img {
    width: 30px;
}

 .column .italy {
    vertical-align: super;
}

#arrow {
    vertical-align: super;
    font-size: 25px;
}

.column .icons {
    margin-top: 20px;
    font-size: 25px;
}

.icons .fa-brands {
    padding:5px;
}

.col .column-1 {
    flex-basis: 68%;
    /* background-color: rgb(181, 1, 181); */
    display: flex;
}

 .bigger  {
    
    margin: 0px 60px;
    list-style: none;
        width: calc(100% / 4);
}

 .smaller {
    list-style: none;
    margin: 0px 22px;
    line-height: 45px;
}

.smaller .blue {
    font-size: 20px;
    color: #7288DA;
    font-weight: 900;
}

.footer,
.lista {
    border-top: 2px solid #7288DA;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.subscribe button {
    margin: 50px 15px;
    border: 0;
    border-radius: 30px;
    padding: 15px 25px;
    background-color: #8EA0E1;
    color: white;
    font-weight: 900;
}

.logo-footer  {
    margin-top: 50px ;
}

